<?xml version="1.0"?>
<launch>
  <!-- <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="1.0"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include> -->

    <param name="robot_description" command="$(find xacro)/xacro '$(find factomove_description)/urdf/factomove.urdf.xacro'"/>

    <arg name="multi_robot_name" default=""/>
    <arg name="use_tf_static" default="false"/> 

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="50.0" />
      <param name="tf_prefix" value="$(arg multi_robot_name)"/>
      <param name="use_tf_static" value="$(arg use_tf_static)"/>
    </node>

    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
    <include file="$(find factomove_scan_filter)/launch/factomove_scan_filter.launch"/>
    <!-- <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model factomove -param robot_description -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos)"/> -->

    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find factomove_description)/rviz/model.rviz"/> -->
    <!-- <include file="$(find factomove_teleop)/launch/factomove_teleop.launch"/> -->
    <!-- <include file="$(find factomove_slam)/launch/factomove_gmapping.launch"/> -->
</launch>