<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <gazebo>
    <plugin name="factomove_controller" filename="libgazebo_ros_diff_drive.so">
    <commandTopic>cmd_vel</commandTopic>
    <odometryTopic>odom</odometryTopic>
    <odometryFrame>odom</odometryFrame>
    <odometrySource>world</odometrySource>
    <publishOdomTF>true</publishOdomTF>
    <robotBaseFrame>base_footprint</robotBaseFrame>
    <publishWheelTF>false</publishWheelTF>
    <publishTf>true</publishTf>
    <publishWheelJointState>true</publishWheelJointState>
    <legacyMode>false</legacyMode>
    <updateRate>30</updateRate>
    <leftJoint>mid_left_wheel_joint</leftJoint>
    <rightJoint>mid_right_wheel_joint</rightJoint>
    <wheelSeparation>0.5583</wheelSeparation>
    <wheelDiameter>0.16</wheelDiameter>
    <wheelAcceleration>1</wheelAcceleration>
    <wheelTorque>100</wheelTorque>
    <rosDebugLevel>na</rosDebugLevel>
    </plugin>
  </gazebo>

</robot>