<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find factomove_description)/urdf/_d435.urdf.xacro"/>

  <xacro:sensor_d435 name="realsense_d435" parent="base_link" >
    <origin xyz="0.36 0 -0.025" rpy="0 0 0" />
  </xacro:sensor_d435>

  <xacro:include filename="$(find factomove_description)/urdf/hokuyo_lidar.urdf.xacro"/>
  <xacro:include filename="$(find factomove_description)/urdf/hokuyo_lidar.gazebo.xacro"/>

  <xacro:include filename="$(find factomove_description)/urdf/diff_drive_controller.gazebo.xacro"/>

</robot>
